* {
    margin: 0;
    box-sizing: border-box;
}

/* Contenitore dell'immagine e del logo */
.container{
    width: 1200px;
    margin-left: 20px;
    margin-top: 10px;
}

/* Img logo */
.img-logo{
    vertical-align: middle; /* Allineamento in mezzo */
}

/* Span titolo del logo */
.titolo-logo{
    font-size: 50px; /* Grandezza del font */
    height: 5000px;
    vertical-align: middle; /* Allineamento in mezzo */
}

main{
    margin-left: 12%;
    margin-top: 100px;
    margin-right: 12%;
}

.container-2{
    margin: px;
}

/* Add Task */
.button-1{
    width: 80px;
    height: 30px;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(71,173,241,255);
    color: white;
}

/* Add Section */
.button-2{
    width: 90px;
    height: 30px;
    border-radius: 5px;
    border-color: lightgray;
    background-color: white;
    color: lightgray;
}

.container-3{
    margin-top: 50px;
}

.spunta{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    color: rgba(101,194,172,255);
    border-color: rgba(101,194,172,255);
    border-style: solid;
}

.argomenti{
    margin-top: 10px;
}

.editorial{
    margin-left: 20px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(71,173,241,255);
    color: white;
    height: 30px;
}

.q1-goals{
    margin-left: 20px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(156,114,228,255);
    color: white;
    height: 30px;
}

.recruiting{
    margin-left: 20px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(100,192,169,255);
    color: white;
    height: 30px;
}

.mobile{
    margin-left: 20px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(242,158,51,255);
    color: white;
    height: 30px;
}

.spunta-2{
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    color: rgba(231,59,51,255);
    border-color: rgba(231,59,51,255);
    border-style: solid;
}

.argomenti-2{
    margin-top: 10px;
}

.website{
    margin-left: 20px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(216,99,161,255);
    color: white;
    height: 30px;
}

.sales{
    margin-left: 20px;
    font-size: small;
    border-style: none;
    border-radius: 5px;
    background-color: rgba(179,203,46,255);
    color: white;
    height: 30px;
}